@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');



/*index.html*/
* {
	font-family: 'Montserrat', sans-serif;
}

.barra-navegacion {
	padding: 15px;
	background-color: white;
	box-shadow: 0px 0px 10px rgb(0, 0, 0);
	background-image: url(imagenes/cabecera.png);
	background-position: 0px -20px;
}

.navegador {
	align-items: center;
}

.opciones-desplegadas {
	text-decoration: none;
	color: black;
}

.logo {
	width: 50px;
	height: 50px;
}

.bi-three-dots {
	color: black;
	font-size: 25px;
}

.opcion {
	text-decoration: none;
	color: black;
}

.opcion:hover {
	transition: 200ms;
	color: #fb090b;
	text-shadow: 0px 0px 7px rgba(251, 9, 11, 0.1);
}

.bi-person,
.bi-basket2,
.bi-ticket-perforated {
	font-size: 25px;
}

.lateral {
	margin-top: 100px;
	background-color: white;
	margin-left: 0px;
}

.lista-derecha {
	list-style: none;
	padding: 10px;
}

.lista-derecha-enlaces {
	text-decoration: none;
	color: black;
	text-align: center;
}
.lista-derecha-enlaces:hover{
	transition: 200ms;
	color: #fb090b;
}